<h1>注文履歴一覧</h1>
<% @orders.each do |Order| %>
  <p>注文日</p>
  <span><%= order.created_at %></span>
  <p>配送先</p>
  <span><%= order.created_at %></span>
  <p>注文商品</p>
  <span><%= order.created_at %></span>
  <p>支払金額</p>
  <span><%= order.created_at %></span>
  <p>ステータス</p>
  <span><%= order.created_at %></span>
  <p>注文詳細</p>
  <span><%= order.created_at %></span>
<% end %>